@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Bangers&family=Dancing+Script:wght@700&family=Fleur+De+Leah&family=Great+Vibes&family=Imperial+Script&family=Oleo+Script+Swash+Caps:wght@400;700&family=Orelega+One&family=Oswald:wght@500;700&family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&family=Water+Brush&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.regenBogenHorizontal {
  background: linear-gradient(
    180deg,
    Red,
    Orange,
    Yellow,
    Green,
    Blue,
    Indigo,
    violet
  );
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 20rem;
  text-align: center;
  font-family: "Imperial Script", cursive;
  color: hsl(291, 88%, 25%);
}
